@charset "utf-8"

$yellow: #ffdd57
$family-sans-serif: 'Lusitana', serif
$primary: $yellow

@import "../../node_modules/bulma/bulma.sass"

.section-header
    padding-top: 0 !important
    padding-bottom: 0 !important

.brand-text
    border-top: 3px solid $black-bis

.create-new-wrapper
    display: flex
    height: 100%
    align-items: center

.management-actions
    display: flex
    height: 100%
    align-items: center
    justify-content: flex-end

    button:last-child
        margin-left: 10px

.register-step
    background-color: $warning-light
    border: 1px solid $grey-lighter
    border-radius: 4px

.register-step.active
    background-color: $yellow

.listing-item
    background-color: $white-bis
    border-right: 3px solid $grey

.listing-item.active
    border-right-color: $black-bis

.columns.is-gapless
    .column.listing-item
        padding: 1rem 0 !important

.content-controls
    .button
        margin-left: 0.25rem

.collection-modal
    background-color: $white-bis
