<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bilgge.</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lusitana&display=swap" rel="stylesheet"> 
  </head>
  <style>
    html, body {
      font-family: 'Lusitana', serif;
    }
    .section-header {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .brand-text {
      border-top: 3px solid #121212;
    }
  </style>
  <body>
      <section class="section section-header">
        <div class="container">
          <div class="columns">
            <div class="column is-one-fifth is-offset-two-fifths">
              <h1 class="is-size-1 has-text-centered has-text-grey-dark brand-text">bilgge.</h1>
            </div>
          </div>
        </div>
      </section>
  </body>
</html>