<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bilgge.</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lusitana&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <style>
    html, body, input, button {
      font-family: 'Lusitana', serif;
    }
    .section-header {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .brand-text {
      border-top: 3px solid #121212;
    }
  </style>
  <body>
      <section class="section section-header">
        <div class="container">
          <div class="columns">
            <div class="column is-one-fifth is-offset-two-fifths">
              <h1 class="is-size-1 has-text-centered has-text-grey-dark brand-text">bilgge.</h1>
            </div>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="container">

          <div class="columns">
            <div class="column is-4 is-offset-4">
              <div class="field">
                <label class="label is-large">Username</label>
                <div class="control">
                  <input type="text" class="input is-large">
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column is-4 is-offset-4">
              <div class="field">
                <div class="file is-large is-fullwidth has-name">
                  <label class="file-label">
                    <input class="file-input" type="file" name="resume">
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">
                        Private Key
                      </span>
                    </span>
                    <span class="file-name">
                      id_rsa.key
                    </span>
                  </label>
                </div>
                <p class="help">Your private key <strong>won't</strong> be uploaded to the servers.</p>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column is-4 is-offset-4">
              <article class="message is-dark">
                <div class="message-body">login has been failed.</div>
              </article>
            </div>
          </div>

          <div class="columns">
            <div class="column is-4 is-offset-4 has-text-right">
              <button class="button is-warning is-large">login.</button>
            </div>
          </div>
        </div>
      </section>
  </body>
</html>