<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bilgge.</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lusitana&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <style>
    html, body, input, button {
      font-family: 'Lusitana', serif;
    }
    .section-header {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .brand-text {
      border-top: 3px solid #121212;
    }
    .register-step {
      background-color: #fffbeb;
      border: 1px solid #dbdbdb;
      border-radius: 4px;
    }
    .register-step.active {
      background-color: #ffdd57;
    }
  </style>
  <body>
      <section class="section section-header">
        <div class="container">
          <div class="columns">
            <div class="column is-one-fifth is-offset-two-fifths">
              <h1 class="is-size-1 has-text-centered has-text-grey-dark brand-text">bilgge.</h1>
            </div>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="container">

          <div class="columns">
            <div class="column is-4 is-offset-4">
              <div class="columns">
                <div class="column has-text-centered"><span class="register-step is-clickable p-2 is-size-3">u.</span></div>
                <div class="column has-text-centered"><span class="register-step is-clickable p-2 is-size-3">k.</span></div>
                <div class="column has-text-centered"><span class="register-step is-clickable p-2 is-size-3">d.</span></div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column is-4 is-offset-4">
              <div class="block is-size-4">This wizard will help you create your bilgge account.</div>
              <div class="block is-size-3">Let's start with choosing a username.</div>
            </div>
          </div>

          <div class="columns">
            <div class="column is-4 is-offset-4 has-text-right">
              <button class="button is-warning is-large">start.</button>
            </div>
          </div>

        </div>
      </section>
  </body>
</html>